export const ENV = {
  NODE_ENV: NodeEnv.DEVELOPMENT,
  SERVER_HOST: '127.0.0.1',
  SERVER_PORT: 1337,
  DB_URL_MAIN: 'mongodb://localhost:27017/marble-example',
  DB_URL_TEST: 'mongodb://localhost:27017/marble-example-test',
  LOG_LEVEL: 'dev',
};
